{% extends "main1.html" %}
{% block title %}{{sn}}{% endblock%}
{%block content%}
{% with messages=get_flashed_messages() %}
{%if messages%}
<p>{{messages[0]}}</p>
{% endif %}
{% endwith  %}
<div class="row" id="row">
		<div class="col-md-9" id="col1">
			<div class="row">
			<div class="col-md-9">
			<img id="covid" src="https://lh3.googleusercontent.com/z3AWitrKeKVqOr0kGaVW3qbaiEUbd8JieD_rEgrDmpp-qN9fgxaxQT73PtYtPlIkIGoH2rMY6Xtz47Lhi5I5yeG2wdmmFwpOKL8MdBxo7Zv1N6eDfohLxHDh5dr7ala8fNzP_4E_i28">
			</div>
			</div>
			<div class="row" >
				<div class="col-md-12">
					<p id="ctext">India Future Predictions</p>
				</div>
			</div>
			<div class="row" id="nav-bar0">
				<p>Choose Your Region!</p>
			</div>
			<hr>
			<div class="row" id="nav-bar">
				<div class="col-md-1" id="c1">
					<a id='anc' href="/tt">India</a>
				</div>
				<div class="col-md-2" id="c2">
					<p class="ni">North India</p>
					<div class="dropni">
						<a href="/jk">Jammu & Kashmir</a>
						<a href="/ld">Ladakh</a>
						<a href="/hp">Himachal Pradesh</a>
						<a href="/ut">Uttarakand</a>
						<a href="/ch">Chandigarh</a>
						<a href="/dl">Delhi</a>
						<a href="/hr">Haryana</a>
						<a href="/pd">Punjab</a>
						<a href="/up">Uttarpradesh</a>
					</div>
				</div>
				<div class="col-md-2" id="c3">
					<p class="si">South India</p>
					<div class="dropsi">
						<a href="/tn">Tamil Nadu</a>
						<a href="/kl">Kerala</a>
						<a href="/ap">Andhra Pradesh</a>
						<a href="/tg">Telangana</a>
						<a href="/ka">Karnataka</a>
						<a href="/py">Pududcherry</a>
						<a href="/la">Lakshwadeep</a>
						<a href="/an">Andaman & Nicbar</a>
					</div>
				</div>
				<div class="col-md-2" id="c4">
					<p class="nei">North East India</p>
					<div class="dropnei">
						<a href="/sk">Sikkim</a>
						<a href="/ar">Arunachal Pradesh</a>
						<a href="/as">Assam</a>
						<a href="/mn">Manipur</a>
						<a href="/ml">Meghalaya</a>
						<a href="/mz">Mizoram</a>
						<a href="/nl">Nagaland</a>
						<a href="/tr">Tripura</a>
					</div>
				</div>
				<div class="col-md-2" id="c5">
					<p class="wi">West India</p>
					<div class="dropwi">
						<a href="/dn">Dadra & Nagar haveli</a>
						<a href="/dd">Daman & Diu</a>
						<a href="/ga">Goa</a>
						<a href="/gj">Gujarath</a>
						<a href="/mh">Maharashtra</a>
						<a href="/rj">Rajasthan</a>
					</div>
				</div>
				<div class="col-md-2" id="c6">
					<p class="ei">East & Central India</p>
					<div class="dropei">
						<a href="/mp">Madhya Pradesh</a>
						<a href="/br">Bihar</a>
						<a href="/ct">Chattisgarh</a>
						<a href="/jh">Jarkhand</a>
						<a href="/wb">WestBengal</a>
						<a href="/or">Odisha</a>
					</div>
				</div>
			<div class="col-md-1">
				<a href="/results" style="color: white;">Results</a>
			</div>

			</div>
		</div>
		<div class="col-md-3" id="col">
			<img id="ind" src="https://lh3.googleusercontent.com/C4_iGhxNsSSwJvlo_2RuuxzCGVyEMtuhCTaVmGTNn5F1PFQFoh214a61X0kJdB0zaQgZvwAxyCiOFGOyF3jenp9HZNQ3vwSiOMRiq_-AEEtJR5Iw71KpjSxsMJhRaWegYtX1u7G4qj0">
		</div>

		<h2 class="text-center text-info">Predicted</h2>
		<canvas id="chart" width="500" height="400" style="margin-left: 2rem;"></canvas>
		<h2 class=" text-info">Confirmed</h2>
		<canvas id="confirmed" width="500" height="400"></canvas>

		<h2 class=" text-info">Recovered</h2>
		<canvas id="recovered" width="500" height="400"  style="margin-left: 2rem;"></canvas>
		<h2 class="text-center text-info">Deceased</h2>
		<canvas id="deceased" width="500" height="400"></canvas>






		<img src="{{im}}"  width="500px" height="350px" class="d-block mx-auto">
		<div class="row">
		  <div class="column">
		    <div class="card">
		      <h3>Total Cases</h3>
		      <p>{{wc[0]}}</p>
		    </div>
		  </div>

		  <div class="column">
		    <div class="card">

		      <h3>Total Deaths</h3>
		      <p>{{wc[1]}}</p>
		    </div>
		  </div>

		  <div class="column">
		    <div class="card">
		      <h3>Total Recovered</h3>
		      <p>{{wc[2]}}</p>
		    </div>
		  </div>

		  <div class="column">
		    <div class="card">
		      <h3>New Cases</h3>
		      <p>{{wc[3]}}</p>
		    </div>
		  </div>
			<div class="column">
		    <div class="card">
		      <h3>Predicted Total cases</h3>
		      <p>{{p}}</p>
		    </div>
		  </div>

<table id='ta'  class="table table-striped">
<tr>
  <th>Date</th>
  <th>Original</th>
  <th>Predicted</th>
	<th>Deceased</th>
	<th>Recovered</th>
</tr>
    {%for i in range(r-10,r)%}
    <tr>
      <td>{{ da[i+1]}}</td>
      <td>{{or1[i]}}</td>
      <td>{{y[i]}}</td>
			<td>{{dec[i]}}</td>
			<td>{{rec[i]}}</td>
    </tr>
    {%endfor%}
    {% for i in range(r,l-1)%}
    <tr>
      <td>{{da[i+1]}}</td>
      <td>--</td>
			<td>{{y[i]}}</td>
			<td>--</td>
			<td>--</td>

    </tr>
    {%endfor%}
</table>
<h1>{{a}}</h1>





   <script>

     // bar chart data
     var barData = {
       labels : [
         {% for item in labels %}
           "{{ item }}",
         {% endfor %}
       ],

       datasets : [{
				 label: "Actual",
         fillColor: "rgba(253,153,153,0.2)",
         strokeColor: "rgba(253,153,153,1)",
         pointColor: "rgba(253,153,153,1)",
         pointStrokeColor: "#fff",
         pointHighlightFill: "#fff",
         pointHighlightStroke: "rgba(151,187,205,1)",
         bezierCurve : false,
         data : [
     {% for item in values1 %}
             {{ item }},
           {% endfor %}]
         },{
					 label:"Predicted",
	         fillColor: "rgba(151,187,205,0.2)",
	         strokeColor: "rgba(151,187,205,1)",
	         pointColor: "rgba(151,187,205,1)",
	         pointStrokeColor: "#fff",
	         pointHighlightFill: "#fff",
	         pointHighlightStroke: "rgba(151,187,205,1)",
	         bezierCurve : false,
	         data : [
	     {% for item in values %}
	             {{ item }},
	           {% endfor %}]
	         }
 ]
     }

     Chart.defaults.global.animationSteps = 50;
     Chart.defaults.global.tooltipYPadding = 16;
     Chart.defaults.global.tooltipCornerRadius = 0;
     Chart.defaults.global.tooltipTitleFontStyle = "normal";
     Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
     Chart.defaults.global.animationEasing = "easeOutBounce";
     Chart.defaults.global.responsive = false;
     Chart.defaults.global.scaleLineColor = "black";
     Chart.defaults.global.scaleFontSize = 16;

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

     steps = 10
     max = {{ max }}
     // draw bar chart
     var LineChartDemo = new Chart(mychart).Line(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       bezierCurve: false,
			 legend: {
            position: 'top',
						display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
				title: {
      display: true,
      text: 'World population per region (in millions)'
    }
     });

		 var deceased = document.getElementById("deceased").getContext("2d");
		 var deceasedData = {
			 labels : [
				 {% for item in labels %}
					 "{{ item }}",
				 {% endfor %}
			 ],

			 datasets : [{
				label: "Actual",
				 fillColor: "rgba(253,153,153,0.2)",
				 strokeColor: "rgba(253,153,153,1)",
				 pointColor: "rgba(253,153,153,1)",
				 pointStrokeColor: "#fff",
				 pointHighlightFill: "#fff",
				 pointHighlightStroke: "rgba(151,187,205,1)",
				 bezierCurve : false,
				 data : [
		 {% for item in deceased %}
						 {{ item }},
					 {% endfor %}]
				 }]
		 }
		 var LineChartDemo = new Chart(deceased).Line(deceasedData, {
			 options: {
        title: {
            display: true,
            text: 'TEST'
        }
    } ,
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil({{dec_max}} / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       bezierCurve: false,
			 legend: {
            position: 'top',
						display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
				title: {
      display: true,
      text: 'Deseased Cases'
    }
     });


		 var confirmed = document.getElementById("confirmed").getContext("2d");
		 var confirmedData = {
			 labels : [
				 {% for item in labels %}
					 "{{ item }}",
				 {% endfor %}
			 ],

			 datasets : [{
				label: "Actual",
				 fillColor: "rgba(253,153,153,0.2)",
				 strokeColor: "rgba(253,153,153,1)",
				 pointColor: "rgba(253,153,153,1)",
				 pointStrokeColor: "#fff",
				 pointHighlightFill: "#fff",
				 pointHighlightStroke: "rgba(151,187,205,1)",
				 bezierCurve : false,
				 data : [
		 {% for item in values1 %}
						 {{ item }},
					 {% endfor %}]
				 }]
		 }
		 var LineChartDemo = new Chart(confirmed).Line(confirmedData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max/ steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       bezierCurve: false,
			 legend: {
            position: 'top',
						display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
				title: {
      display: true,
      text: 'Deseased Cases'
    }
     });

		 var recovered = document.getElementById("recovered").getContext("2d");
		 var recoveredData = {
			 labels : [
				 {% for item in labels %}
					 "{{ item }}",
				 {% endfor %}
			 ],

			 datasets : [{
				label: "Actual",
				 fillColor: "rgba(253,153,153,0.2)",
				 strokeColor: "rgba(253,153,153,1)",
				 pointColor: "rgba(253,153,153,1)",
				 pointStrokeColor: "#fff",
				 pointHighlightFill: "#fff",
				 pointHighlightStroke: "rgba(151,187,205,1)",
				 bezierCurve : false,
				 data : [
		 {% for item in recovered %}
						 {{ item }},
					 {% endfor %}]
				 }]
		 }
		 var LineChartDemo = new Chart(recovered).Line(recoveredData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil({{rec_max}}/ steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       bezierCurve: false,
			 legend: {
            position: 'top',
						display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
				title: {
      display: true,
      text: 'Deseased Cases'
    }
     });
   </script>
    {%endblock%}
